@model  academia.Application.Models.Account.ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutGeneral.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <img src="~/img/login.jpg" style="width:100%" />
        </div>
        <div class="col-sm-6">
            <form class="row g-3" asp-controller="Account" asp-action="ForgotPassword" method="POST">

                <div class="col-12">
                    <label for="Email" class="form-label">Digite seu e-mail</label>
                    <input type="email" class="form-control" placeholder="E-mail" asp-for="Email">
                </div>

                <div class="col-12">
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Alterar senha</button>
                    </div>
                </div>

                <div asp-validation-summary="All" class="text-danger"></div>
            </form>

        </div>
    </div>
</div>

