@{
    ViewData["Title"] = "Pagina Inicial";
}
<link rel="stylesheet" href="../css/Home.css" />

<div class="container-fluid">
    <br/>
    <div class="container-home-title">
        <h1 class="animate__animated animate__zoomIn">Academia Tech</h1>
    </div>

</div>
